body {
    margin: 0;
    padding: 0;
}

.contacts {
    max-width: 1200px;

    justify-content: center;
    display: flex;
    margin-top: auto;
    display: flex;
    padding: 20px;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
    gap: 20px;
}


.main-contacts {

    background: url(Rectangle\ 81.svg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;

    justify-content: center;

}

.BOX {
    width: 350pX;
    height: 400pX;
    background-color: rgba(206, 206, 206, 0.613);

    border-radius: 6PX;
    font-size: larger;
    padding-left: 30px;
}

.BOX2 {
    width: 350px;
    height: 400pX;
    background-color: rgba(206, 206, 206, 0.613);

    border-radius: 6PX;
}

.h2 {

    margin-left: 5px;
    gap: 5px;
}

.f22 {
    width: 295px;
    padding-bottom: 80px;
    margin-left: 5px;
    margin-top: 40px;
    border-radius: px;
    box-shadow: inset 0 0 10px gainsboro;
    border: none;
    border-radius: 6px;
    padding-top: 10px;
}

.f35 {
    width: 295px;
    height: 25px;

    gap: 100px;
    margin-left: 5px;
    margin-top: 25px;
    border-radius: px;
    box-shadow: inset 0 0 10px gainsboro;
    border: none;
    border-radius: 6px;
}

.b2 {
    width: 150px;
    height: 30px;

    background-color: darkorange;
    border-radius: 2px;
    margin-left: 5px;
    background: linear-gradient(180deg, #FFDC83 0%, #FBD26A 25%, #C17024 84.9%, #E3A548 100%);
    padding: 13px 32px;
    color: #000000;
    box-shadow: 0px 3px 4px 0px #00000040;
    font-size: 16px;
    font-weight: 600;
    font-size: 8px;
    margin-top: 20px;
    border: none;
}

.BOX {
    margin-top: 120px;
}

.BOX2 {
    margin-top: 120px;
    padding-left: 25px;
}

.text {

    font-size: 17px;
}

.c {
    justify-content: center;
    padding: 30px;
    margin-top: -75px;
}

.z {
    margin-top: 100px;
    font-size: 30px;
}

.CHIPI {
    width: 150px;
    height: 30px;

    background-color: darkorange;
    border-radius: 2px;
    margin-left: 5px;
    background: linear-gradient(180deg, #FFDC83 0%, #FBD26A 25%, #C17024 84.9%, #E3A548 100%);
    padding: 13px 32px;
    color: #000000;
    box-shadow: 0px 3px 4px 0px #00000040;
    font-size: 16px;
    font-weight: 600;
    font-size: 8px;
    margin-top: 11px;
    border: none;
}

.mibombo {
    text-align: center;
    margin: 0%;
    font-size: 30PX;
}

.puma {
    margin-top: 650px;
}

.chps {
    margin-left: 24px;
    color: orange;
}

.vin {
    margin-top: 5px;

}

.gif {
    margin-top: 15px;
}

.vigr {
    margin-top: 30px;
}

.vip {
    margin-top: 25px;
}

.vid {
    margin-top: 23px;
}
@media only screen and (max-width: 450px){
    .contacts{
        width:  100px;
        height: 150px;
    }
    .f35{
        width: 100px;
        height: 30px;
    }
    .f22{
        width: 100px;
        height: 10px;
    }
}

