body{
    margin: 0;
    padding: 0;
}
.kartinka{
display: flex;
width: 1800px;
height: 1000px;
justify-content: center;
flex-wrap: wrap;
margin: auto;
gap: 2px;
}
.text{
 text-align: center;
font-size: 30px;
}
.block1{
    background: linear-gradient(180deg, #FFDC83 0%, #FBD26A 25%, #C17024 84.9%, #E3A548 100%);
     width: 200px;
     height: 46px;
font-size: 20px;

}
.block{
    text-align: center;
margin-top: 160px;
}