body{
    margin: 0;
    padding: 0;
}
.mainblock{
    width: 1300px;
    height: 607px;
    background-color: aquamarine;
    background: url(img/image\ 5.png);
    margin: auto;
    padding: 13px;
}
.text1{
    width: 650px;
    color: aliceblue;
    margin-top: 20px;
    margin-left: 70px;
    font-weight: 900;   
    font-size: 62px;
}
.text2{
    color: rgb(255, 255, 255);
    font-size:40px ;
    font-weight: 300;
    width: 650px;
    margin-left: 70px;
    
}
.text3{
    width: 650px;
    font-size: 20px;
    color: aliceblue;
    margin-left: 70px;
    margin-top:25px;
}
.nomainblock{
    width: 650px;
    color: rgb(112, 112, 112);
    margin-top: 30px;
    margin-left: 70px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.n1{
    width: 200px;
    height: 75px;
    background-color: rgba(173, 173, 173, 0.712);
    color: black;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}
.n2{
    width: 200px;
    height: 75px;
    background-color: rgba(173, 92, 0, 0.812);
    color: black;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}
.n3{
    width: 200px;
    height: 75px;
    background-color: rgba(165, 164, 164, 0.743);
    color: black;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  
}
.n4{
    width: 200px;
    height: 75px;
    background-color: rgba(175, 173, 173, 0.781);
    color: black;
    font-weight: 550;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    text-align: center;

}
.n5{
    width: 200px;
    height: 75px;
    background-color: rgba(188, 188, 188, 0.716);
    color: black;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;

}
.n6{
    width: 200px;
    height: 75px;
    background-color: rgba(186, 185, 185, 0.736);
    color: black;
    font-weight: 600;
    justify-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;

}
