body{
    margin: 0;
    padding: 0;
}
.mainblock{
    width: 1300px;
    height: 607px;
    background-color: aquamarine;
    background: url(img/image\ 5.png);
    margin: auto;
    padding: 13px;
}
.text1{
    width: 650px;
    color: aliceblue;
    margin-top: 20px;
    margin-left: 70px;
    font-weight: 900;   
    font-size: 62px;
}
.text2{
    color: rgb(255, 255, 255);
    font-size:40px ;
    font-weight: 300;
    width: 650px;
    margin-left: 70px;
    
}
.text3{
    width: 650px;
    font-size: 20px;
    color: aliceblue;
    margin-left: 70px;
    margin-top:25px;
}
.nomainblock{
    width: 650px;
    color: rgb(112, 112, 112);
    margin-top: 30px;
    margin-left: 70px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.n1{
    width: 200px;
    height: 75px;
    background-color: rgba(113, 113, 113, 0.77);

}
.n2{
    width: 200px;
    height: 75px;
    background-color: rgba(173, 92, 0, 0.77);


}
.n3{
    width: 200px;
    height: 75px;
    background-color: rgba(113, 113, 113, 0.77);

}
.n4{
    width: 200px;
    height: 75px;
    background-color: rgba(113, 113, 113, 0.77);

}
.n5{
    width: 200px;
    height: 75px;
    background-color: rgba(113, 113, 113, 0.77);

}
.n6{
    width: 200px;
    height: 75px;
    background-color: rgba(113, 113, 113, 0.77);

}
