body{
    margin: 0;
    padding: 0;
}
.mainblock{
    width: 1300px;
    height: 600px;
    background-color: aquamarine;
    background: url(img/image\ 5.png);
    margin: auto;
    padding: 1px;
}
.text1{
    width: 650px;
    height: 450px;
    color: aliceblue;
    margin-top: 30px;
    margin-left: 75px;
    font-weight: 900;
    font-size: 62px;
}
.text2{
    color: chocolate;
    font-size:70px ;
}